.app {
  display: grid;
  place-items: center;
  text-align: center;
}
input {
  padding: 10px;
  background-color: #c9a085;
  color: rgb(0, 0, 0);
  border: none;
  border-bottom: 2px solid white;
}
button {
  height: 40px;
  background-color: #533a32;
  color: white;
  cursor: pointer;
  margin: 10px;
  border: none;
}
button:hover {
  background-color: #2f7208;
}

li {
  font-size: 18px;
  padding: 5px;
}
.div2 {
  border: 3px solid rgb(0, 0, 0);
  min-width: 200px;
  height: 50vh;
  overflow: auto;
  box-shadow: 10px 8px 10px rgb(8, 8, 8);
  border-radius: 10px;
}
p {
  font-family: fantasy;
  font-size: 30px;
}
.li {
  margin: 8px 0;
  padding: 0 0 10px;
  display: flex;
  justify-content: space-between;
}
.delete {
  border: none;
  font-size: 24px;
  margin: 0 5px;
}
.div2::-webkit-scrollbar {
  background-color: #947566;
}
.div2::-webkit-scrollbar-thumb {
  background-color: #533a32;
  border-radius: 10px;
}
.btnEdit:hover {
  background-color: rgb(79, 79, 163);
}

.link {
  text-decoration: none;
  color: white;
}
.logo {
  display: grid;
  place-items: end;
  height: 58px;
}
.logo-img {
  width: 70;
  height: 40px;
  margin: 5px;
  cursor: pointer;
}
/* estilização do input */
.label-float{
  position: relative;
  padding-top: 13px;
}

.label-float input{
  border: 1px solid rgb(189, 189, 189);
  border-radius: 5px;
  outline: none;
  min-width: 250px;
  padding: 15px 20px;
  font-size: 16px;
  transition: all .1s linear;
  -webkit-transition: all .1s linear;
  -moz-transition: all .1s linear;
  -webkit-appearance:none;
}

.label-float input:focus{
  border: 2px solid #2f7208;
}

.label-float input::placeholder{
  color:transparent;
}

.label-float label{
  pointer-events: none;
  position: absolute;
  top: calc(50% - 8px);
  left: 15px;
  transition: all .1s linear;
  -webkit-transition: all .1s linear;
  -moz-transition: all .1s linear;
  background-color: #c9a085;
  padding: 5px;
  box-sizing: border-box;
}

.label-float input:required:invalid + label{
  color: red;
}
.label-float input:focus:required:invalid{
  border: 2px solid red;
}
.label-float input:required:invalid + label:before{
  content: '*';
}
.label-float input:focus + label,
.label-float input:not(:placeholder-shown) + label{
  font-size: 13px;
  top: 0;
  color: #2f7208;
}